<table border="1" width="400">
	<tr>
		<th>Server Identifier</th>
		<th>Server IP</th>
		<th>Server OS</th>
		<th>Server Status</th>
	</th>
	{% for server in servers %}
	<tr>
	    <td>{{ server.identifier }}</td>
	    <td>{{ server.ip }}</td>
	    <td>{{ server.os }}</td>
	    <td>{{ server.status }}</td>
	</tr>
	{% endfor %}
</table>
